*{
    font-family: Apple Chancery;
}

h4{
    font-weight: bold;
}

.admin-line{
  height: 5%;
  width: 75%;
  background-color: gray;
  margin-left: 13%;
}
.card-img{
    height: 15rem;
}
.card-body{
    background-color: #F2F3F4 ;
}

.card:hover {
    transform: scale(1.1);
  }
  .card {
    transition: transform 0.5s;
    width: 22rem;
    height: 25rem;
  }

  .button:hover{
    background-color: #D6EAF8;
    color: black;
  }
  .button{
    background-color: #626567;
  }