body { 
    background-color: white; 
    color:#fff; 
} 


h1 { 
    text-align: center; 
    color: black; 
} 
  
fieldset { 
    margin-left: 25%; 
    margin-right: 25%; 
    margin-top: 3%;
    background-color: #F5E5F2; 
    border-radius: 10px;
} 
  
input { 
    padding: .3rem; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 10px; 
} 
  
label { 
    margin: 10px; 
} 
  
button { 
    padding: .3rem; 
    font-size: 15px; 
    background-color: rgb(19, 26, 58); 
    border: 4px solid #ccc; 
    color: #ccc; 
    padding: 10px; 
    border-radius: 8px; 
    margin: 10px; 
    cursor: pointer; 
}