.ParentContainer{
width: 98%;
height: 100%;
border: 2px solid black;
border-radius: 20px 20px 20px 20px;
padding: 1%;
margin-left: 2%;
background-color: rgb(159, 156, 156);

}

.Heading-OverallStatus{
    width: 100%;
    height: 25%;
    
    border: 2px solid #848884;
    /* padding: 0.5%; */
    /* margin-top: 2%; */
    /* margin-left: 2%; */
    background-color: #D3D3D3;
    border-radius: 20px 20px 0px 0px;
    text-align: left;
    /* display: flex; */
}


.Project-phase1{
    width: 30%;
    border: 2px solid rgb(173, 170, 170);
    border-radius: 10px 10px 10px 10px;
    background-color: #D3D3D3;
    padding: 2%;
    margin-left: 2%;
}

.Project-phase2{
    width: 30%;
    border: 2px solid rgb(173, 170, 170);
    border-radius: 10px 10px 10px 10px;
    background-color: #D3D3D3;
    padding: 2%;
    margin-left: 2%;
}

.Planned{
    /* width: 10px; */
    border: 2px solid rgb(173, 170, 170);
    border-radius: 10px 10px 10px 10px;
    background-color: #D3D3D3;
    padding: 2%;
    margin-left: 2%;
}


.MainContainer1{
    width: 100%;
    /* height: 70%; */
    /* border: 2px solid rgb(173, 170, 170); */
    border: 2px solid #848884;
    padding: 2%;
    margin-bottom: 5%;
    /* background-color: rgb(245, 232, 216); */
    background-color: #E5E4E2;
    border-radius: 0px 0px 20px 20px;

}

.MainContainer2{
    width: 100%;
    height: 60%;
    /* border: 2px solid rgb(173, 170, 170); */
    border: 2px solid #848884;
    padding: 2%;
    margin-bottom: 5%;
    /* background-color: rgb(245, 232, 216); */
    background-color: #E5E4E2;
    border-radius: 0px 0px 20px 20px;
}

.MainContainer3{
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(173, 170, 170); */
    border: 2px solid #848884;
    padding: 2%;
    margin-bottom: 2%;
    /* background-color: rgb(245, 232, 216); */
    background-color: #E5E4E2;
    border-radius: 20px 20px 20px 20px;
}


.Heading-PhaseWiseTimeline{
    width: 100%;
    /* height: 15%; */
    
    border: 2px solid #848884;
    /* padding: 0.5%; */
    margin-top: 2.5%;
    /* margin-left: 2%; */
    background-color: #D3D3D3;
    border-radius: 20px 20px 0px 0px;
    text-align: left;
    
}


.Current-phase{
    font-family: 'Apple-Chancery';
    font-weight: bold;
    margin-left: 3.5%;
    margin-top: 3.5%;
}

.big-inputFields{
    padding: 2%;
}

.phaseViewArray{
    display: flex;
}
