.Heading{
    width: 80%;
    height: 40%;
    border: 2px solid rgb(173, 170, 170);
    /* padding: 0.5%; */
    margin-top: 2%;
    /* margin-left: 2%; */
    background-color: rgb(241, 187, 122);
    border-radius: 20px 20px 0px 0px;
    text-align: left;
    /* display: flex; */
}


.MainContainer{
    width: 80%;
    height: 70%;
    border: 2px solid rgb(173, 170, 170);
    padding: 2%;
    background-color: rgb(245, 232, 216);
    border-radius: 0px 0px 20px 20px;
    text-align: left;
}
