.sidebar{

    background-color: #144358;

    position: fixed;

    top: 50px;

    left: 0;

    bottom: 0;

    width: auto;

    padding: 20px;

    z-index: 100;

    color: white;

   

 

   

 

}

.sidebar-menu{

    padding: 10px;

    margin: 5px;

}

.sidebar-menu li{

    margin-top: 15px;

    display: flex;

    align-items: center;

}

.sidebar-menu li svg{

    margin-right: 10px;

}