 /* .sidebar {
    margin-left: 0;
    padding: 0;
    width: 200px;
    text-decoration: underline;
    background-color: #C5DFF8;
    
    margin-bottom: 10px;
    overflow: auto;
    height: 0%;
  }
   
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  
   
  .sidebar a.active {
    background-color: rgb(34, 34, 74);
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #27195a;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } 
 */

 .sidebar{
  
  background-color: hsl(244, 77%, 14%);
  margin-top: -50px;
  height: 75px;
 }

 .toggler{
  background-color: hsl(244, 77%, 14%);
 } 

 .toggler-link{
  color: whitesmoke;
 }


 .sidebarcontent{
  font-family: 'Apple Chancery'
 }
 /* .offcanvas-title{
  color: whitesmoke;
 } */

 