.Register{
    width: 35%;
    height: 40rem;
    background-color: whitesmoke;
    /* padding: 1%; */
    margin-left: 25rem;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    @media only screen and (max-width: 600px) {
        /* For mobile phones: */
        margin-left: 5rem;
      }

    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        margin-left: 10rem;
      }

    @media only screen and (max-width: 992px) {
        /* For mobile phones: */
        margin-left: 10rem;
      }
}

.heading{
    background-color:#A2678A;
    padding: 1%;
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align: center;
}

.form{
  width: 20rem;
  height: 70%;
  margin-top: 2%;
  padding: 5%;
  
}



